body {
    background-color: #1690A7;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#usersearchbidform {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

#usersearchbidform h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#usersearchbidform input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60%;
}

#usersearchbidform button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.error, .success {
    background-color: #ff5757;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.success {
    background-color: #4CAF50;
}


.workslot {
    margin-top: 10px;
}

.deletetable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.headerrow {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.tablebody {
    background-color: #fff;
}

.tablebody:nth-child(even) {
    background-color: #f2f2f2;
}

.tablebody:hover {
    background-color: #ddd;

}

.deletetable th,
.deletetable td {
    padding: 12px;
    font-size: 16px;
}

.updatebtn {
    background-color: turquoise;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.updatebtn:hover {
    opacity: 0.7;
}

.deletebtn {
    background-color: #ff5757;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.deletebtn:hover {
    background-color: lightcoral;
}

#userviewbidbackbtnbox {
    text-align: center;
}

#userviewbidbackbtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
    width: 120px;
}
